* {
  box-sizing: border-box;
}
html { /*Az egész html-t használjuk konténerként*/
  min-height: 100%;
  position: relative;
}
body {
  margin-bottom: 50px;
  background: url('assets/freedom.jpg') no-repeat center;
}

footer {
  display: table; /*középre igazítás-1  táblázat*/
  width: 100vw; /*középre igazítás-2  teljes szélesség*/
  height: 8rem; /*magasság méret rem:relatív az alaphoz képest*/
  text-align: center;
  padding: 1rem;
  font-family: 'Arial', sans-serif;
  font-size: .875rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 50px;
}

.wrapper {
/*  display: table-cell; /*középre igazítás-3 egy cella legyen*/*/
  vertical-align: middle;  /*középre igazítás-4  melyet függőlegesen középre*/
  padding-top: 4rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: .5rem; 
}
.author {
  font-family: 'Crimson Text', serif;
  font-size: .4rem;
  font-style: italic;
}

/* képernyőméretekhez betüméret*/
@media (min-width: 300px) {
    .quote {
      font-size: 1.5rem;
    }
    .author{
      font-size: 1.4rem;
    }
}

@media (min-width: 780px) {
    .quote {
      font-size: 2.5rem;
    }
    .author{
      font-size: 2.3rem;
    }
}

@media (min-width: 1200px) {
    .quote {
      font-size: 3.5rem;
    }
    .author{
      font-size: 3.3rem;
    }
}
